body {
    background-color: #46ccff;
}

#header {
    text-align: center;
    color: aliceblue;
    border-style: dotted;
    border-radius: 25px;
    border-width: 2px;
    margin: auto;
    padding: 15px;
    background-image: url("blue-sky-clouds.jpg");
    background-size: cover;
}

#nav {
    margin-top: 15px;
    margin-bottom: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslateblue;
    border-radius: 15px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkblue;
}

#section {
    background-color: darkslateblue;
    border-style: groove;
    border-width: 2px;
    border-radius: 15px;
    color: white;
    margin:auto;
    padding: 10px;
    margin-bottom: 15px;
}

#footer {
    margin-top: 80px;
    padding: 5px;
    background: darkslateblue;
    text-align: center;
    color: white;
    margin-bottom: 0;
    font-family: "Fjalla One", Verdana, Geneva, sans-serif;
    font-size: 0.95em;
    text-transform: uppercase;
}