
* {
  padding: 0em;
  margin: 0em;
}

html {
  height:100%;
  min-height: 100%;
}


@media screen and (min-width: 921px) {  /* VERSIONE DESKTOP */

  body {
    font-family: Verdana, Helvetica, Georgia, sans-serif;
    max-width: 70%;
    min-width: 46.875em;              /*    dimensione in larghezza della pagina con il contenuto        */
    margin-left: auto;
    margin-right: auto;
    height:100%;
    min-height: 100%;
    color: #000000;                   /*  colore del testo su tutta la pagina    */
    background-image: url("images/as.png");  /*  immagine background ai lati     */
  }

/*
    SEZIONE HOME
*/

  a img {
    border:0;
  }

  #content {        /*  contenuto della pagina, non riguarda i lati, viene escluso il menu fixed  */
    background-color: #edeeef;
    min-height:100%;
    padding-bottom: 10em;
  }


  #logo_home {
    float: left;
    width: 4.375em;
    height: 4.375em;
    margin-left: 15%;
  }


#content_menu {
    width: 70%;
}

  #menu {
               /* contenitore del menu fixed con gli elementi del menu più il logo a sinistra*/
    background-color: #28313f;
    position: fixed;
    left: 0;
    min-width: 46em;
    width: 100%;
    height: 4.6875em;
    z-index: 2;
  }

  #content_menu {        /* contenitore degli elementi del menu, ossia i bottoni per i link*/
    margin-left: 15%;  /* distanzio il contenitore del menu dal logo, allineato con l'header */
  }

  #content_menu a {  /* bottoni del menu*/
    float: left;
    color: white;              /*colore del testo link*/
    background-color: #28313f;  /* prende il colore del contenitore menu*/
    padding: 1em;
    border: 0px solid black;
    height: 1.25em;
    width: 3.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-top:1em;
  	-ms-transition: 0.3s;
  	-webkit-transition:0.3s;
  	-moz-transition: 0.3s;
  	transition: 0.3s;
  }

  #content_menu a:hover {
      background-color: #595959;
      color:white;
      font-weight: bold;
      font-size: 1.1em;
	  -ms-transition: 0.3s;
	  -webkit-transition: 0.3s;
	  -moz-transition: 0.3s;
	  transition:0.3s;
  }

  #tornasu {
    position: absolute;
    margin-top: 0.5em;
    right: 0;
    width: 4em;
    height: 4em;
  }

  #header {
    background-color: #274f8e;
    clear: both;
    min-width: 46em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    height: 9em;
  }

  #header h1 {
    font-size: 3.5em;
  }

  #eventi {               /* contenitore degli eventi prec e succ*/
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 30em;
  }

  .contorno {                        /* contenitore che contiene il contorno per gli eventi*/
    width: 38%;
    height: 28.125em;
    padding:0.1875em;
    color:white;
    background-color:black;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 7%;
    float: left;
  }

  #eventi_pre, #eventi_next {     /*singolo contenitore degli eventi */
      background-color: #fff;
      border: 1px solid black;
      height: 26.875em;
      max-width:99%;
      overflow-y:auto;
      padding-right: 0.125em;
      color:black;
  }

  #content #eventi_pre p, #content #eventi_next p {
    text-align: left;
    padding-bottom: 5px;
    padding-left: 2px;
    border-bottom: 1px solid black;
    padding-top: 0px;
    margin-left: 0;
    margin-right: 0;
    width:100%;
  }

  #modulo_reg, #box_login {
    width: 55em;
    margin-top: 2em;
    margin-left: 10%;
  }

  #modulo_reg input, #box_login input {
    height: 1.5625em;
    margin-bottom: 0.5em;
  }

  #modulo_reg label, #box_login label {
    width: 20%;
    min-width: 150px;
    margin-left: 3em;
    margin-right: 2em;
    float: left;
  }

  #button_reg, #log_b {
    margin-left: 50%;
  }

}

#header h1 {
  color: white;
  font-style: italic;
  text-align: center;
}

#profilo {
  margin-top: 2em;
  width: 10em;
  float: right;
  margin-right: 1em;
}

#profilo a {
  font-size: 0.9em;
  color: #efe597;
  text-decoration: none;
  float: right;
}

#content h2 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

#breadcrumb {
  background-color: #808893;
  width: 100%;
  margin-top: 2em;
  height: 1.875em;
}

#content #breadcrumb p {
  width: 100%;
  color:white;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1em;
  padding-top: 0.3em;
}

#breadcrumb a {
  text-decoration: none;
  color: white;
}

#breadcrumb a:hover {
  color: blue;
  font-style: italic;
}


.slideshow {
  width: 80%;
  position:relative;
  border: 1px solid white;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  height: 35em;
}

.imgslide {
  width: 100%;
  height: 90%;
  z-index: 0;
  display:none;
}

.arrowbar{
position:absolute;
bottom:0;
background-color:black;
width:100%;
height:5em;

}


#slidebuttonleft{
  z-index: 0;
  position:absolute;
  width:10%;
  height:100%;
  border-color:white;
  cursor:pointer;
  border-right: 4px solid gray;
}

#slidebuttonleft img{
  z-index: 0;
  position:absolute;
  width:90%;
  height:95%;
}

#slidebuttonright{
  z-index: 0;
  position:absolute;
  right:0;
  width:10%;
  height:100%;
  border-color:white;
  cursor:pointer;
  border-left: 4px solid gray;
}

#slidebuttonright img{
  z-index: 0;
  position:absolute;
  right:0;
  width:90%;
  height:95%;

}

#number{
font-size:1.2em;
padding-top:1.1em;
padding-bottom:1.1em;
position:absolute;
left:49%;
right:49%;
color:white;
}



/* FINE HOME */

/* PAGINA REGISTRAZIONE */

#modulo_reg h1, #box_login h1 {
  text-align: center;
  margin-bottom: 3em;
}

#modulo_reg legend, #box_login legend {
  display: none;
}

#modulo_reg fieldset, #box_login fieldset {
  border: 0;
}

#modulo_reg input, #box_login input {
  display: block;
  background-color: #fff;
  color: #666;
  padding: 5px 5px 3px 22px;
  font-size: 1em;
  border: 1px solid #ccc;
  width: 19em;
  line-height: 2.2em;
}

#modulo_reg label, #box_login label {
  display: block;
  font-size: 1.1em;
  color: white;
  background: #515863;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
}

#button_reg, #log_b {
  margin-top: 3em;
}

#button_reg, #log_b, #button_login button, #comment {
  background: #e6e6dc;
  font-size: 1em;
  color: #900;
  padding: 6px 14px;
  border-width: 2px;
  border-style: solid;
  border-color: #fff #d8d8d0 #d8d8d0 #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

#comment {
  display: block;
}

#button_login button {
  float: right;
  margin-right: 1em;
  margin-bottom: 2em;
 }

/* FINE REGISTRAZIONE */


#foto{
  margin-top:2em;
  display: block;
  margin: auto;
  max-width: 750px;
  min-height:50px;
  min-width: 50px;
  margin-bottom:2em;
}

#rank {
  margin: auto;
  width: 80%;
  background-color: #000;
  height: 3em;
  margin-bottom: 2em;
}

#rank button  {
  background: white;
  margin-top: 0.2em;
  margin-left: 5%;
}

#rank img {
  height: 70%;
  width: 70%;
}

#rank form {
  display: inline;
}

#content #rank_txt {
  font-size: 1.5em;
  width: 0;
  padding-top: 0.35em;;
  margin-right: 5%;
  float: right;
  color: white;
}

#content p {
    padding-top: 1.5em;
    width:70%;
    margin-left: auto;
    margin-right: auto;
  }

.first{
  margin-top: 18%;
}

  .center_me{
    display:block;
    font-size: 1.5em;
    text-align: center;
  }

#content .list_element {
    margin-top: 0.5em;
    width: 80%;
    height: 7.8125em;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

#box_comment {
  margin-top: 4em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#list_comment {
  margin-top: 5em;
}

#box_comment textarea {
  width: 100%;
  height: 8em;
}

#content .list_element span {
  margin-top: 0.2em;
  padding-left: 0.5em;
}

.list_element a{
    display:block;
    text-decoration:none;
}

.didascalia_el {
  margin-top: 1em;
  margin-bottom: 2em;
}

.element_foto {
    border-right: 1px solid black;
    height:100%;
    width:7.8125em;
    float: left;

}
.element_foto img{
  height: 100%;
  width: 100%;
}


.element_content {
	height:7.5em;
  max-width:100%;
}


#content .big_list_element{
    width: 80%;
    max-width:100%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#content .element_content p, #content .big_list_element p{
  margin-top: 0.2em;
  padding-top: 0.1em;
  margin-left: 0;
  margin-right: 0;
  width:100%;
  padding-right: 10%;
}

#content .element_content span{
  display:block;
}

#content .big_element_element span{
    padding-top: 0px;
    margin-left: 0;
    margin-right: 0;
    width:100%;
    color:black;
}


#footer {
  background-color: #000;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 8em;
  color: white;
}

 #footer p {
   padding-top: 2em;
   text-align: center;
   font-size: 0.8em;
   font-style: italic;
}

#footer img {
  margin: 1em 1em 0.8em 1em;
}

  #xhtmlvalido {
  float: left;
  display: inline-block;
}

#cssvalido {
  float: right;
  display: inline-block;
}

 #footer a {
  display: block;
  color: white;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
}


.nascosta {
  display: none
}

.demo {cursor:pointer}

/*
  MAPPA DEL SITO                           */

 #mappa {
   height: 20em;
   margin-top: 6em;
   margin-left: 2em;
 }

 #home_link {
   font-size: 1.3em;
 }

  #mappa ul {
    list-style-type: none;
    margin-left: 2em;
  }

  #mappa li {
    margin-top: 1em;
  }


@media screen and (max-width: 1400px){
  .slideshow {
    width: 100%;
  }
}

/*
    CSS PER LAYOUT MOBILE SMARTPHONE
*/
@media screen and (max-width: 920px){

/*
    HOME MOBILE
*/


    body {
      font-family: Verdana, Helvetica, Georgia, sans-serif;
      color: #000000;                   /*  colore del testo su tutta la pagina    */
    }

    a img {
      border:0;
    }

    #content {        /*  contenuto della pagina, non riguarda i lati, viene escluso il menu fixed  */
      background-color: #edeeef;
      min-height:100%;
      padding-bottom: 9.375em;
    }

    #logo_home {
      display: none;
    }

    #header {
      background-color: #274f8e;
      clear: both;
      padding-top: 0.5em;
      height: 10em;
    }

    #header h1 {
      font-size: 2.7em;
    }

    #modulo_reg, #box_login {
      width: 20em;
      margin-top: 2em;
      margin-left: auto;
      margin-right: auto;
    }

    #modulo_reg input, #box_login input {
      margin-bottom: 1.5em;
      height: 2em;
    }


    #modulo_reg label, #box_login label {
      width: 18em;
    }

    #button_reg, #log_b {
      float: right;
    	margin-right: 15%;
    }

    #content_menu a {
      color: white;
      background-color: #28313f;
      padding: 1em;
      border: 0px solid black;
      height: 1em;
      width: 100%;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 1em;
  }

    #tornasu {
      display: none;
    }

    .contorno {                        /* contenitore che contiene il contorno per gli eventi*/
      width: 70%;
      max-width: 22em;
      height: 28em;
      padding: 0.2em;
      color: white;
      background-color: black;
      margin-right: auto;
      margin-left: auto;
      margin-top: 2em;
      margin-bottom: 1em;
    }

    #content .list_element{
        width: 100%;
        height: 7.8em;
        border: 1px solid black;
    }

    #eventi_pre, #eventi_next {     /*singolo contenitore degli eventi */
        background-color: #fff;
        border: 1px solid black;
        height: 26.55em;
        max-width:99%;
        overflow-y:auto;
        color:black;
    }

    #content #eventi_pre p, #content #eventi_next p {
      padding-bottom: 5px;
      padding-left: 2px;
      border-bottom: 1px solid black;
      padding-top: 0px;
      margin-left: 0;
      margin-right: 0;
      width:100%;
    }


/*
  FINE HOME
*/
}
