* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}
html{
  height:100%;
  min-height: 100%;
}

body {
  font-family: Verdana, Helvetica, Georgia, sans-serif;
  font-size: 1em;
  max-width: 70%;
  min-width: 750px;              /*    dimensione in larghezza della pagina con il contenuto        */
  margin-left: auto;
  margin-right: auto;
  height:100%;
  min-height: 100%;
  color: #000000;                   /*  colore del testo su tutta la pagina    */
  background-image: url("images/as.png");  /*  immagine background ai lati     */
}

#content {        /*  contenuto della pagina, non riguarda i lati, viene escluso il menu fixed  */
  background-color: #fff;  /*DA SCEGLIERE sfondo della pagina con i contenuti */
  min-height:100%;
  padding-bottom: 150px;
}

#logo {
  float: left;
  width: 70px;
  height: 70px;
}

#menu {
  left:0px;             /* contenitore del menu fixed con gli elementi del menu più il logo a sinistra*/
  background-color: #000;  /*DA SCEGLIERE sfondo del menu contenitore menu e logo */
  position: fixed;
  min-width: 700px;
  width: 100%;
  height: 75px;
  z-index:1;
}

#content_menu {        /* contenitore degli elementi del menu, ossia i bottoni per i link*/
  margin-left: 9%;  /* distanzio il contenitore del menu dal logo, allineato con l'header */
}


#content_menu a {  /* bottoni del menu*/
  float: left;
  color: white;              /*colore del testo link*/
  background-color: #000;  /* prende il colore del contenitore menu*/
  padding: 1em;
  border: 0px solid black;
  height: 20px;
  width: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-top:1em;
	-ms-transition: 0.3s;
	-webkit-transition:0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

#content_menu a:hover {
    background-color: #595959;
    color:white;
    font-weight: bold;
    font-size: 1.1em;
  	-ms-transition: 0.3s;
  	-webkit-transition: 0.3s;
  	-moz-transition: 0.3s;
  	transition:0.3s;
}


#tornasu {
  margin-top: 5px;
  margin-right: 5px;
  float:right;
  color:white;
  width: 70px;
  height: 70px;
}

#header {
  background-color: #000;   /*DA SCEGLIERE*/
  clear: both;
  min-width: 750px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5em;
  height: 150px;
}

#header h1 {
  color:white;
  font-size:4em;
  font-style:italic;
  text-align: center;

}


#login {
  margin-top: 1.5em;
  float:right;
  color:white;
}

#login h3 {
  font-size: 0.8em;
  display:inline;
}

#login input {
	width:35%;
	height:20px;

}

#breadcrumb {
  background-color: #000;  /*DA SCEGLIERE uguale all'header*/
  color: white;
  width: 100%;
  border: 1px solid black;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  height: 30px;

}

#slideshow {
  border: 1px solid white;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 420px;
}

#slideshow img {
  width: 100%;
  height: 100%;
}

#eventi {               /* contenitore degli eventi prec e succ*/
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 500px;
}

.contorno {                        /* contenitore che contiene il contorno per gli eventi*/
  width: 38%;
  height: 450px;
  padding:3px;
  color:white;
  background-color:black;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 7%;
  float: left;
}

#eventi_pre, #eventi_next {     /*singolo contenitore degli eventi */
    background-color: #fff;  /*DA SCEGLIERE */
    border: 1px solid black;
    height: 430px;
    max-width:99%;
    overflow-y:auto;
    padding-right: 2px;
    color:black;
}
#content #eventi_pre p, #content #eventi_next p {
  text-align: left;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 2px;
  border-bottom: 1px solid black;
  margin-left: 0;
  margin-right: 0;
  width:100%;
}

#content p {
    padding-top: 1.5em;
    width:70%;
    margin-left: auto;
    margin-right: auto;
  }


#content #breadcrumb p {
  margin-left: 0;
  margin-right: 0;
  width:100%;
  color:white;
  padding-top: 5px;
}

#content .list_element{
    width: 100%;
    height: 120px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.list_element a{
	display:block;
	text-decoration:none;

}

 .element_foto {
    border-right: 1px solid black;
    height:100%;
    width:125px;
    float: left;

}
.element_foto img{
  height: 120px;
  width: 120px;
}

#content .list_element span{
    padding-top: 0px;
    margin-left: 0;
    margin-right: 0;
    width:100%;
    height:100%;
    color:black;
   
}

 .fillarea{									
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  background-image: url('empty.gif');
} 


#footer {
  background-color: #000; /*DA SCEGLIERE */
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 150px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color:white;
}

 #footer p {
   text-align:center;
   font-size: 0.8em;
   font-style: italic;
}

#footer img {
  margin-left: 1.0em;
  margin-right: 1.0em;
  margin-bottom: 0.8em;
}

  #xhtmlvalido {
  float: left;
  display: inline-block;
}

#cssvalido {
  float: right;
  display: inline-block;
}

#logofooter {
  padding-left: 50%;
  padding-right: 50%
}

.nascosta {
  display: none
}
