* {
  padding: 0em;
  margin: 0em;
}

html {
  height:100%;
  min-height: 100%;
}



  body {
    font-family: Verdana, Helvetica, Georgia, sans-serif;
    width: 100%;
    min-width: 46.875em;              /*    dimensione in larghezza della pagina con il contenuto        */
    margin-left: auto;
    margin-right: auto;
    height:100%;
    min-height: 100%;
    color: #000000;                   /*  colore del testo su tutta la pagina    */
    background-color: white;
      /*  immagine background ai lati     */
  }

/*
    SEZIONE HOME
*/

  a img {
    border:0;
  }



  #content {        /*  contenuto della pagina, non riguarda i lati, viene escluso il menu fixed  */
    background-color: #edeeef;
    min-height:100%;
    padding-bottom: 10em;
  }

  #menu {
               /* contenitore del menu fixed con gli elementi del menu più il logo a sinistra*/
   display:none;
  }


#content_menu  {
  display: none;
}


  #header {
    background-color: #274f8e;
    clear: both;
    min-width: 46em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    height: 11.7em;
  }

  #header h1 {
    font-size: 3.5em;
  }

  #eventi {               /* contenitore degli eventi prec e succ*/
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 39em;
  }

  .contorno {                        /* contenitore che contiene il contorno per gli eventi*/
    width: 38%;
    height: 36.5625em;
    padding:0.1875em;
    color:white;
    background-color:black;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 7%;
    float: left;
  }

  #eventi_pre, #eventi_next {     /*singolo contenitore degli eventi */
      background-color: #fff;
      border: 1px solid black;
      height: 35em;
      max-width:99%;
      overflow-y:auto;
      padding-right: 0.125em;
      color:black;
  }

  #content #eventi_pre p, #content #eventi_next p {
    text-align: left;
    padding-bottom: 5px;
    padding-left: 2px;
    border-bottom: 1px solid black;
    padding-top: 0px;
    margin-left: 0;
    margin-right: 0;
    width:100%;
  }

  #modulo_reg, #box_login {
    width: 100%;
    margin-top: 2em;
  }

  #modulo_reg fieldset, #box_login fieldset {
    margin-left: 20%;
  }

#content #box_login p {
  margin-left: 20%;
  }

  #modulo_reg input, #box_login input {
    height: 1.6em;
    margin-bottom: 0.5em;
  }

  #modulo_reg label, #box_login label {
    width: 20%;
    min-width: 150px;
    margin-right: 2em;
    float: left;
  }

  #button_reg, #log_b {
    margin-left: 50%;
  }


#header h1 {
  color: white;
  font-style: italic;
  text-align: center;
}

#profilo {
  margin-top: 2em;
  width: 10em;
  float: right;
  margin-right: 1em;
}

#profilo a {
  font-size: 0.9em;
  color: #efe597;
  text-decoration: none;
  float: right;
}

#content h2, #content h3 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

#breadcrumb {
  background-color: #808893;
  width: 100%;
  margin-top: 2em;
  height: 1.875em;
}

#content #breadcrumb p {
  color:white;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1em;
  padding-top: 0.3em;
}

#breadcrumb a {
  text-decoration: none;
  color: white;
}



/* Inizio slideshow*/

.slideshow {
  width: 80%;
  position:relative;
  border: 1px solid white;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  height: 49.4em;
}


#content .p_slide {
  padding: 0;
  padding-top: 0.5em;
  color: white;
  width: 100%;
  font-style: italic;
  text-align: center;
  font-size: 1.4em;
}

.imgslide{
  display: none;
  width: 100%;
  height: 39em;
  z-index: 0;
}

.imgslide_a{
  display: none;
}

.slide_didasc{
  position:absolute;
  bottom:5.2em;
  background-color:black;
  width:100%;
  height:5.2em;
}

.arrowbar{
position:absolute;
bottom:0;
background-color:black;
width:100%;
height:5.2em;

}

#slidebuttonleft, #slidebuttonright{
  z-index: 0;
  position:absolute;
  width:10%;
  height:100%;
  border-color:white;
  cursor:pointer;
}

#slidebuttonleft {
  border-right: 4px solid gray;
}

#slidebuttonright{
  border-left: 4px solid gray;
  right:0;
}


#slidebuttonleft img, #slidebuttonright img{
  z-index: 0;
  position:absolute;
  width:90%;
  height:95%;
}

#slidebuttonright img{
  right:0;
}

#number{
font-size:1.2em;
padding-top:1.1em;
padding-bottom:1.1em;
position:absolute;
left:49%;
right:49%;
color:white;
}

/* fine slideshow*/

/* FINE HOME */

/* PAGINA REGISTRAZIONE */

#aiuti_reg {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5em;
}

#modulo_reg legend, #box_login legend {
  display: none;
}

#modulo_reg fieldset, #box_login fieldset {
  border: 0;
}

#modulo_reg input, #box_login input {
  display: block;
  background-color: #fff;
  color: #666;
  padding: 5px 5px 3px 22px;
  font-size: 1em;
  border: 1px solid #ccc;
  width: 15em;
  line-height: 2.2em;
}

#modulo_reg label, #box_login label {
  display: block;
  font-size: 1.1em;
  color: white;
  background: #515863;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
}

#button_reg, #log_b {
  margin-top: 3em;
}

#button_reg, #log_b, #button_login button, #comment {
  background: #e6e6dc;
  font-size: 1em;
  color: #900;
  padding: 6px 14px;
  border-width: 2px;
  border-style: solid;
  border-color: #fff #d8d8d0 #d8d8d0 #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

#comment {
  display: block;
}

#button_login button {
  float: right;
  margin-right: 1em;
  margin-bottom: 2em;
 }

/* FINE REGISTRAZIONE */


#foto {
  display: block;
  margin: auto;
  max-width: 750px;
  height: 100%;
  width: 100%;
  min-height:50px;
  min-width: 50px;
  margin-bottom: 2em;
}

#rank {
  margin: auto;
  width: 80%;
  background-color: #000;
  height: 3em;
  margin-bottom: 2em;
}

#rank button  {
  background: white;
  margin-top: 0.2em;
  margin-left: 5%;
}

#rank img {
  height: 70%;
  width: 70%;
}

#rank form {
  display: inline;
}

#content #rank_txt {
  font-size: 1.5em;
  width: 0;
  padding-top: 0.35em;;
  margin-right: 8%;
  float: right;
  color: white;
}

#content p {
    padding-top: 1.5em;
    width:70%;
    margin-left: auto;
    margin-right: auto;
  }

.first{
  margin-top: 18%;
}

  .center_me{
    display:block;
    font-size: 1.5em;
    text-align: center;
  }

#content .list_element {
    margin-top: 0.5em;
    width: 80%;
    height: 8em;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

#box_comment {
  margin-top: 4em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#list_comment h3 {
  width: 80%;
  margin-top: 5em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

#box_comment textarea {
  resize: none;
  width: 100%;
  height: 8em;
}

#content .list_element span {
  margin-top: 0.2em;
  padding-left: 0.5em;
}

#data_ora {
  float: right;
  padding-top: 0.7em;
  padding-right: 1em;
  font-size: 0.7em;
}


.list_element a {
    display:block;
    text-decoration:none;
}

.didascalia_el {
  margin-top: 1em;
  margin-bottom: 2em;
}

.element_foto {
    border-right: 1px solid black;
    height:100%;
    width:7.8125em;
    float: left;

}
.element_foto img{
  height: 100%;
  width: 100%;
}


.element_content {
	height:7.5em;
}


#content .big_list_element{
    width: 80%;
    border: 1px solid black;
    margin-top: 0.3em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#content .element_content p, #content .big_list_element p{
  margin-top: 0.2em;
  padding-top: 0.1em;
  padding-left: 0.3em;
  padding-bottom: 0.3em;
  margin-left: 0;
  margin-right: 0;
  width:100%;
}

#content .element_content span{
  display:block;
}

#content .big_element_element span{
    padding-top: 0px;
    margin-left: 0;
    margin-right: 0;
    width:100%;
    color:black;
}


#footer {
  background-color: #000;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 8em;
  color: white;
}

 #footer p {
   padding-top: 2em;
   text-align: center;
   font-size: 0.8em;
   font-style: italic;
}

#footer img {
  margin: 1em 1em 0.8em 1em;
}

  #xhtmlvalido {
  float: left;
  display: inline-block;
}

#cssvalido {
  float: right;
  display: inline-block;
}

 #footer a {
  display: block;
  color: white;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
}


.nascosta {
  display: none
}

.demo {cursor:pointer}

/*
  MAPPA DEL SITO                           */

 #mappa {
   height: 20em;
   margin-top: 6em;
   margin-left: 2em;
 }

 #home_link {
   font-size: 1.3em;
 }

  #mappa ul {
    list-style-type: none;
    margin-left: 2em;
  }

  #mappa li {
    margin-top: 1em;
  }
